* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  padding: 0px 12px 0px 12px;
}

.landing__topbar {
  position: fixed;
  display: inline-block;
  text-align: center;
  padding: 12px 12px 12px 12px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.landing__esat-logo {
  width: 91px;
  height: 30px;
  margin-right: calc((100% - 265px) / 2);
}

.landing__esat-brand {
  width: 150px;
  height: 70px;
  margin-left: calc((100% - 265px) / 2);
}

.landing__header {
  background-image: url("../src/backgrounds/test-landing-id3\ 1.jpg");
  background-position: center;
  padding-bottom: 12px;
  padding-top: calc(100vh - 287px);
}

.landing__header--content {
  padding-bottom: 36px;
  width: calc(100% - 24px); /* Ocupa todo el ancho */
}

.landing__gallery--shape {
  width: 366px;
  height: 366px;
}

.landing__gallery--buttons {
  margin-right: 0px;
  margin-left: calc(100% - 100.453px)
}

.landing__gallery--shape p {
  margin-left: 12px;
}

.landing__gallery--shape img {
  margin-left: calc((100% - 296px) / 2); ;
  margin-right: calc((100% - 296px) / 2);
  margin-top: calc(100% - 340px);
}

.landing__custom-projects__image {
  margin-left: calc((100% - 205px) / 2);
  margin-right: calc((100% - 205px) / 2);
}

.button--primary {
  background-color: #ef7d00;
  width: 178px;
  height: 43px;
  border-radius: 6px;
  border-color: #ef7d00;
  border: 0;
}

.button--secondary {
  width: 48px;
  height: 48px;
  padding: 0 6px 0 6px;
  background-color: #333333;
  color: white;
  border-radius: 100%;
  border: 0;
  font-size: 20px;
}

.margin--top-small {
  margin-top: 12px;
}

.margin--top-medium {
  margin-top: 24px;
}

.margin--top-big {
  margin-top: 48px;
}

.padding--top-small {
  padding-top: 12px;
}

.padding--top-medium {
  padding-top: 24px;
}

.padding--top-big {
  padding-top: 48px;
}

.border-radius--small {
  border-radius: 6px;
}

.text--white {
  color: white;
}

.text--orange {
  color: #ef7d00;
}

.text--black {
  color: #333333;
}

.text--size-16 {
  font-size: 16px;
}

.text--size-20 {
  font-size: 20px;
}

.text--size-40 {
  font-size: 40px;
}

.text--align-center {
  text-align: center;
}

.background--black {
  background-color: #333333;
}

.background--white {
  background-color: #EEF0F5;
}

.fit-content {
  width: fit-content;
}

/* fixed SO FAR */

