header {
  background-image: url("../src/backgrounds/test-landing-id3\ 1.jpg");
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.topbar {
  display: flex; /* Make the container a flexbox */
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Distribute space evenly between items */
  position: fixed;
  top: 0; /* Fijado a 0px desde la parte superior */
  left: 0; /* Fijado a 0px desde la parte izquierda */
  padding: 12px 12px 12px 12px;
  width: calc(100% - 24px); /* Ocupa todo el ancho */
  background-color: rgba(0, 0, 0, 0.2);
}

.header-container {
  padding: 0px 12px 36px 12px;
  width: calc(100% - 24px); /* Ocupa todo el ancho */
}

.portfolios-container {
  background-color: white;
  height: calc(100vh - 96px);
  width: calc(100% - 24px);
  padding: 48px 12px 48px 12px;
}

.button-cta {
  background-color: #ef7d00;
  width: 178px;
  height: 43px;
  border-radius: 6px;
  border-color: #ef7d00;
  border: 0;
}

.content-cta {
  margin: 0 auto;
  padding: 0px 0px 12px 0px;
}

.header-portfolio {
  margin-bottom: 24px;
}

.content-portfolio {
  margin: 0 auto;
  padding: 12px 0px 0px 0px;
}

.gallery-portfolio {
  border-radius: 7.52px;
  background-color: #333333;
  width: 100%;
  aspect-ratio: 1 / 1;
  height: fit-content;
}

.gallery-portfolio img {
  display: flex;
  align-items: flex-end; /* Align to the bottom */
  padding-left: calc((100% - 296px) / 2);
  padding-right: calc((100% - 296px) / 2);
}

.gallery-text {
  margin: 0 auto;
  padding: 6px 0 0 24px;
}

.slide-portfolio {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.button-portfolio {
  width: 48px;
  height: 48px;
  padding: 0 6px 0 6px;
  margin-top: 12px;
  background-color: #333333;
  color: white;
  border-radius: 100%;
  border: 0;
  font-size: 20px;
}

.logo {
  width: 91px;
  height: 30px;
}

.brand {
  width: 150px;
  height: 70px;
}

.font-color-esat {
  color: #ef7d00;
}

.font-color-white {
  color: white;
}

.font-color-light-black {
  color: #333333;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-40 {
  font-size: 40px;
}
